[Unit]
Description=Trellio Registry

[Service]
ExecStart=/home/{{ ansible_user }}/venv/bin/python -m trellio.registry
Restart=always
SyslogIdentifier=trellio_registry
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory=/home/{{ ansible_user }}/venv/bin/


[Install]
WantedBy=multi-user.target