server {
    listen      80;
    charset     utf-8;

    client_max_body_size 75M;

    proxy_set_header HOST $host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    {% for service in services %}
location /v{{ service.service_version }}/{{ service.service_uri }}/ {
        proxy_pass http://{{ service.ip_address }}:{{ service.http_port }}/;
    }
    {% endfor %}

}

