{% for service in services %}
upstream {{ service.service_uri }} {
    server {{ service.ip_address }}:{{ service.http_port }} max_fails=5 fail_timeout=10s;
}
{% endfor %}


server {
    listen      80;
    charset     utf-8;

    client_max_body_size 75M;

    proxy_set_header HOST $host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    location = /auth {
            if ($request_method = 'OPTIONS') {
                add_header "Access-Control-Allow-Origin"  *;
                add_header "Access-Control-Allow-Methods" "POST, OPTIONS, PUT, GET, DELETE";
                add_header "Access-Control-Allow-Headers" "Authorization";
                return 204;
            }
            add_header 'Access-Control-Allow-Origin' *;

            internal;
            proxy_pass              http://rbac/auth/;
            proxy_pass_request_body off;
            proxy_set_header        Content-Length "";
            proxy_set_header        X-Original-URI $request_uri;
    }

    {% for service in services %}
location /v{{ service.service_version }}/{{ service.service_uri }}/ {

        if ($request_method = 'OPTIONS') {
            add_header "Access-Control-Allow-Origin"  *;
            add_header "Access-Control-Allow-Methods" "POST, OPTIONS, PUT, GET, DELETE";
            add_header "Access-Control-Allow-Headers" "Authorization";
            return 204;
        }
        add_header 'Access-Control-Allow-Origin' *;

        {% if service.service_uri != 'rbac' %}
auth_request     /auth;
        auth_request_set $auth_status $upstream_status;
        {% endif %}

        proxy_pass http://{{ service.service_uri }}/;
    }
    {% endfor %}

}

