[defaults]
transport = ssh
log_path = /var/log/ansible.log
callback_plugins = /usr/share/ansible_plugins/callback_plugins
deprecation_warnings=False

[ssh_connection]
ssh_args = -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o IdentitiesOnly=yes -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=yes
control_path = ~/.ansible/cp/ansible-ssh-%%h-%%p-%%r
