[Unit]
Description={{ project_name|title }}

[Service]
ExecStart=/home/{{ ansible_user }}/venv/bin/python manage.py runserver
Type=notify
Restart=always
RestartSec=3
SyslogIdentifier={{ service_name }}
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory=/home/{{ ansible_user }}/venv/lib/python3.6/site-packages/{{ service_name }}/

[Install]
WantedBy=multi-user.target